#dropdown-menu-a .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-a .nav .link,
#dropdown-menu-a .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-a .navbar,
#dropdown-menu-a .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-a .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-a .dropdown-menu a:hover,
#dropdown-menu-a .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-a .navbar-toggler {
  color: #000000;
}
